/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	/* --font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono); */
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@theme {
	/* TODO: Remove */
	/* --font-sans: 'Barlow', sans-serif; */
	--color-primary: oklch(0.5967 0.2227 286.62);
	--color-primary-lighter: oklch(0.6598 0.1941 289.1);
	--color-primary-darker: oklch(0.2574 0.0453 277.29);
	--color-primary-darkest: oklch(0.2913 0.0513 276.54);
	--color-neutral-lighter: oklch(0.9197 0.0315 277.91);
	--color-neutral-darker: oklch(0.6539 0.0511 277.06);
	--color-neutral: oklch(0.642 0.0892 276.2);
	--color-neutral-darkest: oklch(0.1657 0.0172 273.52);
	--color-error: oklch(0.6549 0.1845 23.71);
	--color-error-lighter: oklch(0.7848 0.1252 20.28);
	--color-base-lightest: oklch(0.98 0.004 286.33);
	--color-base-darkest: oklch(0.206 0.03 277.59);

	/* TODO: Keep as is */
	--font-sans: 'Cabin', sans-serif;
	--color-paid: oklch(0.7817 0.1527 164.84);
	--color-pending: oklch(0.7554 0.177697 59.6859);
	--color-draft: oklch(0.554 0.046 257.417);
}

:root {
	--radius: 0.625rem;
	/* --background: oklch(1 0 0); */
	--background: oklch(0.98 0.004 286.33);
	/* --foreground: oklch(0.129 0.042 264.695); */
	--foreground: var(--color-base-darkest);
	--card: var(--color-white);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	/* --primary: oklch(0.208 0.042 265.755); */
	--primary-foreground: oklch(0.984 0.003 247.858);
	--primary: var(--color-primary);
	/* --primart-foreground: oklch(0.2913 0.0513 276.54); */
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.6549 0.1845 23.71);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: var(--color-primary-darker);
	/* --sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788); */
}

.dark {
	/* --background: oklch(0.129 0.042 264.695); */
	--background: oklch(0.206 0.03 277.59);
	--foreground: oklch(0.984 0.003 247.858);
	--card: var(--color-primary-darker);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.208 0.042 265.755);
	--popover-foreground: oklch(0.984 0.003 247.858);
	/* --primary: oklch(0.929 0.013 255.508);
	--primary-foreground: oklch(0.208 0.042 265.755); */
	/* --primary-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.5967 0.2227 286.62); */
	--secondary: oklch(0.279 0.041 260.031);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.6549 0.1845 23.71);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	/* --sidebar: oklch(0.208 0.042 265.755);
	--sidebar-foreground: oklch(0.984 0.003 247.858);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0.003 247.858);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364); */
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html {
		@apply h-full;
	}
	body {
		@apply bg-background text-foreground;
		@apply h-full grid grid-cols-[auto_1fr] grid-rows-[1fr_auto];
		/* @apply border-1 border-red-500; */
	}
	aside {
		@apply row-span-2;
	}
	main {
		@apply my-12;
	}
}

@layer components {
	aside {
		@apply p-2;
	}
	main {
		@apply flex flex-col items-center gap-10;
	}
	footer {
		@apply w-full flex justify-center;
	}
	main header,
	main section,
	footer section {
		@apply w-2xl;
		/* @apply border-1 border-red-500; */
	}
}

@layer utilities {
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-xl;
	}
	h4 {
		@apply text-sm;
	}

	span.badge-paid,
	span.badge-pending,
	span.badge-draft {
		@apply w-16;
	}
	span.badge-paid {
		@apply bg-paid/30 text-paid;
	}
	span.badge-pending {
		@apply bg-pending/30 text-pending;
	}
	span.badge-draft {
		@apply bg-draft/30 text-draft;
	}
}
